<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/c65f2f1cc8.js" crossorigin="anonymous"></script>
    <title>Home | Kitchening</title>
</head>
<body class="home">
    <header class="header">
            <!-- header -->
            <img src="/img/logo.jpg" alt="" class="header__logo">
            <a href="#" class="header__bars">
                <span><i class="fa-solid fa-bars"></i></span>
            </a>

        <nav class="header__nav">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">quienes</a></li>
                <li><a href="">servicios</a></li>
                <li><a href="">portfolio</a></li>
                <li><a href="">sucursales</a></li>
                <li><a href="">contacto</a></li>
            </ul>
        </nav>
    </header>
    <!-- main -->
    <main>
        <!-- banner -->
        <div>
            <img class="home__main__banner" src="/img/img-banner.jpg" alt="">
        </div>
        <!-- productos -->
        <section class="home__main__section">
            <article class="product">
                <div class="photo-container">
                    <img class="photo-container--photo" src="/img/img-pdto-1.jpg" alt="">
                    <img class="spcial-container--special" src="/img/img-nuevo.png" alt="">
                    <a class="zoom" href="">ampliar foto</a>
                </div>
                <h2>Lorem ipsum dolor sit amet.</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore esse obcaecati porro quod, reprehenderit vel!
                </p>
                <a class="more" href="">ver mas</a>
            </article>
            <article class="product">
                    <div class="photo-container">
                        <img class="photo-container--photo" src="/img/img-pdto-1.jpg" alt="">
                        <img class="spcial-container--special" src="/img/img-nuevo.png" alt="">
                        <a class="zoom" href="">ampliar foto</a>
                    </div>
                    <h2>Lorem ipsum dolor sit amet.</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore esse obcaecati porro quod, reprehenderit vel!
                    </p>
                    <a class="more" href="">ver mas</a>
            </article>
            <article class="product">
                    <div class="photo-container">
                        <img class="photo-container--photo" src="/img/img-pdto-1.jpg" alt="">
                        <img class="spcial-container--special" src="/img/img-nuevo.png" alt="">
                        <a class="zoom" href="">ampliar foto</a>
                    </div>
                    <h2>Lorem ipsum dolor sit amet.</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore esse obcaecati porro quod, reprehenderit vel!
                    </p>
                    <a class="more" href="">ver mas</a>
            </article>
            <article class="product">
                    <div class="photo-container">
                        <img class="photo-container--photo" src="/img/img-pdto-1.jpg" alt="">
                        <img class="spcial-container--special" src="/img/img-nuevo.png" alt="">
                        <a class="zoom" href="">ampliar foto</a>
                    </div>
                    <h2>Lorem ipsum dolor sit amet.</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore esse obcaecati porro quod, reprehenderit vel!
                    </p>
                    <a class="more" href="">ver mas</a>
            </article>
            <article class="product">
                    <div class="photo-container">
                        <img class="photo-container--photo" src="/img/img-pdto-1.jpg" alt="">
                        <img class="spcial-container--special" src="/img/img-nuevo.png" alt="">
                        <a class="zoom" href="">ampliar foto</a>
                    </div>
                    <h2>Lorem ipsum dolor sit amet.</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore esse obcaecati porro quod, reprehenderit vel!
                    </p>
                    <a class="more" href="">ver mas</a>
            </article>
            <article class="product">
                    <div class="photo-container">
                        <img class="photo-container--photo" src="/img/img-pdto-1.jpg" alt="">
                        <img class="spcial-container--special" src="/img/img-nuevo.png" alt="">
                        <a class="zoom" href="">ampliar foto</a>
                    </div>
                    <h2>Lorem ipsum dolor sit amet.</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore esse obcaecati porro quod, reprehenderit vel!
                    </p>
                    <a class="more" href="">ver mas</a>
            </article>
 
        </sectio>

    </main>
    <footer class="footer">
        <nav class="footer__nav">
            <ul>
                <li>Home</li>
                <li>quienes</li>
                <li>servicios</li>
                <li>portfolio</li>
                <li>sucursales</li>
                <li>contacto</li>
            </ul>
        </nav>
    </footer>
    <!-- </div> -->
</body>
</html>